body,ul,li,ol,span,i,p{
  padding:0;
  margin:0;
  list-style: none;
}
body{
  font:14px/1.5 '微软雅黑',Arial;
  color:#333;
  min-width:955px;
}
a{
  text-decoration: none;
  color:#555;
}
$img:'../image/';
%clear{
  content: '';
  clear: both;
  display: block;
}
%scale{
  transform: scale(1,1);
  transition: transform .5s ease-out;
  &:hover{
    transform: scale(1.04,1.04);
  }
}
/* footer*/
#footer{
  margin:0 auto;
  .clearfix{
    padding:0 25px 0 30px;
    height:100px;
    color:#666;
    font-size: 12px;
    position: relative;
    .logo{
      width:260px;
      height:56px;
      background: url($img+'logo.png') no-repeat;
      display: block;
      margin-top: 20px;
      float: left;
    }
    .nav_func{
      float: right;
    }
  }
}
.nav_func{
  .nav-search-warpper{
    display: inline-block;
    width:300px;
    height:40px;
    margin-right: 35px;
    position: relative;
    .nav-search{
      width:298px;
      height:38px;
      border:1px solid #e5e5e5;
      border-radius: 3px;
      &:hover{
        border:1px solid rgb(153,153,153);
      }
      input{
        width:256px;
        height:18px;
        outline: none;
        border:none;
        padding-left: 5px;
        line-height: 16px;
        margin-top: 10px;
      }
      .nav-search-icon{
        width:15px;
        height:15px;
        position: absolute;
        top:13px;
        right:13px;
        cursor: pointer;
        background: url($img+"search_e6fe07d.png") no-repeat;
        &:hover{
          background-position: -25px 0;
        }
      }
    }
  }
  .nav_fr{
    display: inline-block;
    height:100px;
    line-height: 100px;
    .nav-user{
      padding-right:20px;
      display: inline-block;
      .nav-login{
        display: inline-block;
        padding-left: 28px;
        height:22px;
        line-height: 22px;
        background: url($img+"nav_a375e22.png") no-repeat -272px -2px;
      }
    }
    .nav-split{
      width:0;
      height:15px;
      display: inline-block;
      border-left:1px solid #ccc;
    }
    .nav-my-order{
      display: inline-block;
      padding:0 20px;
      font-size: 12px;
      color:#666;
    }
    .nav-sale-cart{
      padding-left:44px;
      display: inline-block;
      background: url($img+'new_nav_db768b3.png') no-repeat -9px 42px;
    }
  }
  .nav_fr a:hover{
    text-decoration: underline;
  }
}
.nav_bars{
  height:40px;
  width:100%;
  text-align: center;
  background-color: #333;
  .nav-bar{
    display: inline-block;
    li{
      float: left;
      padding:0 35px;
      font-size: 13px;
      line-height: 40px;
      &:hover a{
        color: #fff;
      }
      a{
        display: block;
        color:#ddd;
        text-align: center;
        letter-spacing: .5px;
        position: relative;
        .nav-sup{
          width:23px;
          height:12px;
          position: absolute;
          top:7px;
          right:-25px;
          background: url($img+'hot_45ecdbe.png') no-repeat -25px 0;
        }
      }
    }
    li.active{
      background-color: #222;
    }
  }
}
/* banner*/
.home-banner-out{
  width:100%;
  position: relative;
  &::after{
    @extend %clear;
  }
  .home-banner{
    width:60%;
    float: left;
    display: inline-block;
    .home-big-banner{
      overflow: hidden;
      position: relative;
      .home-banner-wrapper{
        position: relative;
        width:200%;
        font-size: 0;
        &::after{
           @extend %clear;
        }
        li{
          width:50%;
          float: left;
          overflow: hidden;
          a{
            display: block;
            img{
              width:100%;
              max-width: 110%;
              @extend %scale;
            }
          }
        }
      }
      .home-banner-dir{
        width:61px;
        height:60px;
        display: block;
        position: absolute;
        top:50%;
        margin-top: -30px;
        opacity: .5;
        transition: opacity .6s linear;
        background: url($img+'dir_9a54e55.png') no-repeat;
        &:hover{
          opacity: 1;
        }
      }
      .dir-left{
        left:30px;
      }
      .dir-right{
        background-position: -91px 0;
        right:30px;
      }
      .swiper-pagination{
        width:100%;
        position: absolute;
        bottom:27px;
        left:0;
        text-align: center;
        .swiper-pagination-bullet{
          display: inline-block;
          width:11px;
          height:10px;
          margin-right: 13px;
          cursor: pointer;
          background: url($img+'banner_ico_c98dc54.png') no-repeat;
        }
        .swiper-pagination-bullet.active{
          background-position: -24px 0;
        }
      }
    }
    .swiper-container{
      img{
        width:100%;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev{
    background: none;
  }
  .home-banner-entry{
    width:40%;
    position: absolute;
    right:0;
    top:0;
    overflow: hidden;
    margin-left: 60%;
    .home-banner-big{
      display: block;
      width:100%;
      float:left;
      font-size: 0;
      overflow: hidden;
    }
    .home-banner-small{
      display: block;
      width:50%;
      float: left;
      font-size: 0;
      overflow: hidden;
    }
    .home-banner-big img,.home-banner-small img{
      width:100%;
      height:auto;
      max-width: 110%;
      @extend %scale;
    }
  }
}
/* article */
.home-article-wrapper{
  width:1200px;
  margin:60px auto;
  overflow: hidden;
  padding-bottom: 60px;
  font-size: 0;
  border-bottom:1px solid #e9e9e9;
  .home-article-main{
     width:789px;
     border-right:1px solid #e9e9e9;
     display: inline-block;
     a{
       display: inline-block;
       img{
         width:300px;
         height:160px;
         display: inline-block;
         margin-right: 30px;
       }
     }
     .article-info{
       display: inline-block;
       width:420px;
       vertical-align: top;
     }
     .article-title{
       display: block;
       font-size: 24px;
       line-height: 1.1em;
       color:#333;
       margin:30px 0 12px;
     }
     .article-info{
       display: inline-block;
       font-size: 12px;
       line-height: 1.5em;
       color:#333;
       overflow: hidden;
     }
  }
  .home-article-side{
    width:340px;
    display: inline-block;
    margin: 23px 0 0 40px;
    vertical-align: top;
    .article-title{
      font-size: 14px;
      line-height: 2em;
      color:#333;
      &::before{
        content: '·';
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
@media screen and (max-width:1348px) {
  .home-article-wrapper{
    width:955px;
    .home-article-main{
      width:627px;
      a img{
        width:250px;
        height:133px;
        margin-right: 28px;
      }
      .article-info{
        width:330px;
      }
      .article-title{
        width:330px;
        font-size: 18px;
        margin:20px 0 10px;
      }
    }
    .home-article-side{
      width:300px;
      margin: 15px 0 0 27px;
    }
  }
}
/* 楼层*/
.goods-block{
  margin: 40px auto;
  width:1200px;
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
  overflow: hidden;
  ul{
    width:100%;

    &::after{
      @extend %clear;
    }
  }
  li{
    width:238px;
    height:269px;
    float: left;
    padding:20px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    a{
      display: block;
      .goods-name{
        font-size: 16px;
        &:hover{
          text-decoration: underline;
        }
      }
      .goods-price{
        margin:11px 0 2px -5px;
        font-size: 16px;
        color:#333;
        span{
          font-weight: 700;
        }
      }
      .goods-recommend{
        background: #ee3531;
        padding:3px 10px;
        display: inline-block;
        color:#fff;
        line-height: 12px;
        font-size: 12px;
        text-align: center;
        border-right: 1px;
      }
      img{
        max-width: 138px;
        max-height: 138px;
        position: absolute;
        bottom:16px;
        right:14px;
        transition: all .3s ease-out;
        &:hover{
          right:24px;
        }
      }
    }
  }
  .goods-ad{
    float: left;
    width:220px;
    height:540px;
    margin-right: 25px;
    padding:0;
    a{
      width:201px;
      height:230px;
      display: block;
      img{
        width:220px;
        height:540px;
        max-width: 220px;
        max-height: 540px;
        position: absolute;
        bottom:0;
        right:0;
        &:hover{
          right:0px;
        }
      }
    }
  }
  .goods-ft{
    border-right:1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .goods-second{
    width:478px;
    height:540px;
    padding:20px 25px;
    .goods-name{
      font-size: 24px;
    }
    .goods-price{
      margin: 16px 0 4px -5px;
      font-size: 22px;
    }
    img{
      max-width: 395px;
      max-height: 395px;
    }
  }
  .goods-third{
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .goods-fourth{
    border-right: 1px solid #e9e9e9;
    margin-left: -954px;
    margin-top: 269px;
  }
  .goods-fifth{
    border-left: 1px solid #e9e9e9;
  }
  .goods-six{
    display: none;
  }
}
.goods-block2{
  .goods-ad{
    float: right;
    margin:0 0 0 25px;
  }
}
@media screen and (max-width:1348px) {
  .goods-block{
    width:955px;
    margin: 40px auto;
    .goods-second{
      width:235px;
      height:269px;
      border-bottom: 1px solid #e9e9e9;
      .goods-name{
        font-size: 16px;
      }

      .goods-price{
        margin: 11px 0 2px -5px;
        font-size: 16px;
      }
      a{
        width:201px;
        height:230px;
        img{
          max-width: 127px;
          max-height: 127px;
        }
      }
    }
    .goods-third,.goods-six{
      width:235px;
    }
    .goods-fourth{
      margin:0;
    }
    .goods-fifth{
      border-left:none;
      width:236px;
      border-right: 1px solid #e9e9e9;

    }
    .goods-six{
      display: block;
    }
  }
}
/*5d*/
.home-product-recomm-wrapper{
  position: relative;
  background-color: #f6f6f6;
  padding:60px 0;
  margin-top: -41px;
}
.home-product-recomm{
  width:1200px;
  margin:0 auto;
  height:400px;
  overflow: hidden;
  .home-product-wrapper{
    float: left;
    position: relative;
    width:710px;
    height: 400px;
    a{
      height:400px;
      display: block;
      font-size: 0;
      background:url($img+'56f90e73e9449.jpg') no-repeat;
    }
    .home-product-direction{
      width:21px;
      height:42px;
      position: absolute;
      right:0;
      top:50%;
      margin-top: -21px;
      background: url($img+'direction_586dc6f.png') no-repeat;
    }
  }
}
.home-product-info{
  margin-left: 735px;
  .home-p-title{
    font-size: 30px;
    color:#333;
    letter-spacing: 1px;
    display: block;
    line-height: 1.2;
  }
  .home-p-desc{
    font-size: 12px;
    margin-top: 12px;
    line-height: 20px;
    height:60px;
  }
  .home-p-price{
    color:#ee3531;
    margin:17px 0;
    font-size: 18px;
    .home-p-p{
      font-size: 24px;
      font-weight: 700;
      margin-left: 6px;
    }
  }
  .home-p-btns{
    .home-p-buy{
      color:#fff;
      background-color: #ee3531;
      &:hover{
        background-color: #b22825;
      }
    }
    .home-p-look{
      color:#333;
      width:138px;
      height:38px;
      border:1px solid #999;
      margin-left: 15px;
      background-color: #fff;
    }
  }
}
.home-p-intro{
  border-top:1px solid #d7d7d7;
  padding-top: 27px;
  .home-p-userico{
    width:30px;
    height:30px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    img{
      width:30px;
      height:30px;
      border-radius: 50%;
    }
  }
  .home-p-intro-detail{
    display: inline-block;
    max-width:265px;
    vertical-align: middle;
    max-height:41px;
    overflow: hidden;
  }
  .home-p-join{
    background-color: #333;
    display: inline-block;
    color:#fff;
    float: right;

  }
}
.home-btn{
  width:140px;
  height:40px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 1.5px;
  transition:all .3s ease-out;
  margin-bottom: 75px;
}
@media screen and (max-width:1348px) {
  .home-product-recomm{
    width:955px;
    .home-product-wrapper{
      width:465px;
      height:400px;
      a img{
        background:url($img+'56f90e7d0939b.jpg') no-repeat;
      }
    }
    .home-product-info{
      margin-left: 485px;
    }
  }

}
